.pop-up__submit-button {
	font-family: Inter, Arial, sans-serif;
	max-width: 358px;
	min-height: 50px;
	box-sizing: border-box;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px auto 37px auto;
	padding: 0;
	border: 0;
	width: 100%;
	color: white;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	cursor: pointer;
	border-color: black;
	border-radius: 2px;
}

@media screen and (max-width: 768px) {
	.pop-up__submit-button {
		max-width: 238px;
		min-height: 46px;
		margin: 45px auto 25px auto;
		font-size: 14px;
		line-height: 17px;
	}
}

.pop-up__submit-button:hover {
	opacity: 0.8;
	transition: 0.3s;
}