.profile__avatar {
	max-width: 120px;
	border-radius: 50%;
	margin-right: 30px;
	object-fit: cover;
	height: 120px;
	background-size: contain;

}

@media screen and (max-width: 768px) {
	.profile__avatar {
		margin: 0 auto 0 auto;
	}
}