.pop-up__inputs {
	margin: 0 auto;
	max-width: 358px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border: 0;
	padding: 0;
}

@media screen and (max-width: 768px) {
	.pop-up__inputs {
		max-width: 238px;
	}
}